.ListItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    width: 814px;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 21px;
}

.ListItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 34px;
    width: 814px;
    height: 34px;
    padding: auto 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.TaskTitleText {
    width: 621px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-left: 16px;
    color: #1F1F1F;
    border: none;
}

.complete .TaskTitleText {
    width: 621px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-left: 16px;
    color: #1F1F1F;
    border: none;
}

.ListItem label {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 669px;
    height: 32px;
    border: 0px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background: #FFFFFF;
}

.ListItem label input[type="checkbox"] {
    display: none;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: #FFFFFF;
}

.CheckboxCustom {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #FFFFFF;
}

.ListItem label input[type="checkbox"]+span:before {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #FFFFFF;
}

.ListItem label input[type="checkbox"]:checked+span:before {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    top: -0.5px;
    left: -0.5px;
    border: 1px solid #32C0AF;
    border-radius: 8px;
    background-color: #32C0AF;
    font-size: 26px;
    content: "\2713";
    text-align: center;
}

.TaskDeleteBtn {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 34px;
    cursor: pointer;
    background: #FFFFFF;
    opacity: 0.5;
    border: 1px solid #32C0AF;
    border-radius: 4px;
}

.TaskDeleteBtnIcon {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
}

.ListItem input[type="text"] {
    width: 621px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1F1F1F;
}

.ListItem label input[type="checkbox"]:checked+span:before {
    text-decoration-line: none;
}

.ListItem .complete input[type="text"] {
    width: 621px;
    height: 22px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}